* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}
@media only screen and (max-width: 600px) {
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text {
    text-align: center;
  }
}